 {% extends "base.html" %}
{% block content %}
 <div class="container mx-auto px-6 py-12">
        <h1> Welcome to Sign Up page</h1>
        <div> 
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <form action=""  method="POST">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
             {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                </p>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
             {% endfor %}
            <button type='submit'>Sign Up</button>
        </form>
    </div>
{% endblock content %}